:root {
  font-family: 'Nanum Brush Script', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 90vh;
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  opacity: 0.90;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
  font-size: 8em;
}

.title {
  font-weight: bolder;
  text-align: center;
  font-size: 6em;
}

.cell {
  display:flex;
  padding: 10px;
  align-content: center;
  justify-content: center;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  &:nth-child(3n+1){
    border-left: none;
  }
  &:nth-child(-n+3){
    border-top:none;
  }
}
.game-wrapper {
  display:flex;
  height: 50vh;
  align-items: center;
  justify-content: center;
}
.grid-wrapper {
  height: 60vh;
  width: 40vw;
  align-content: center;
  justify-content: center;
  display: grid;
  grid-template: "upper-left upper-center upper-right" auto
                 "middle-left middle-center middle-right" auto
                 "bottom-left bottom-center bottom-right" auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}


